body{
	padding:5%;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	background:#ffffff;
}
table{
	width:100%;
}
table, th, td{
	font-size:1em;
}
th{
	text-align:left;
}
td{
	padding:3px;
}
.cb{
	clear:both;
}

#preview-container{
	display:none;
}
#drop_zone{
	width:20%;
	float:right;
	padding:10%;
	border:#000000 dashed 1px;
}
#file_preview_pane{
	padding:5%;
	border:#e4e4e4 dashed 1px;
}